# Lecture 3 ‚Äì Data visualization and distributions
## DSC 10, Summer 2024

In [2]:
# Run this cell to set up packages for lecture.
from lec03_imports import *

### Announcements

### Quiz

### Resources ü§ù

### Agenda

- Grouping.
- Why visualize?
- Terminology.
- Scatter plots.
- Line plots.
- Bar charts.

## Grouping

### Question: Which region is the most populated?

In [3]:
states = bpd.read_csv('data/states.csv').set_index('State')
states = states.assign(Density=states.get('Population') / states.get('Land Area'))
states

,Region,Capital City,Population,Land Area,Party,Density
State,,,,,,
Alabama,South,Montgomery,5024279,50645,Republican,99.21
Alaska,West,Juneau,733391,570641,Republican,1.29
Arizona,West,Phoenix,7151502,113594,Republican,62.96
...,...,...,...,...,...,...
West Virginia,South,Charleston,1793716,24038,Republican,74.62
Wisconsin,Midwest,Madison,5893718,54158,Republican,108.82
Wyoming,West,Cheyenne,576851,97093,Republican,5.94

### Organizing states by region with `.groupby`

Observe what happens when we use the `.groupby` method on `states` with the argument `'Region'`.

In [4]:
states.groupby('Region').sum()

,Capital City,Population,Land Area,Party,Density
Region,,,,,
Midwest,SpringfieldIndianapolisDes MoinesTopekaLansing...,68985454,750524,DemocraticRepublicanRepublicanRepublicanRepubl...,1298.78
Northeast,HartfordAugustaBostonConcordTrentonAlbanyHarri...,57609148,161912,DemocraticDemocraticDemocraticDemocraticDemocr...,4957.49
South,MontgomeryLittle RockDoverTallahasseeAtlantaFr...,125576562,868356,RepublicanRepublicanDemocraticRepublicanRepubl...,3189.37
West,JuneauPhoenixSacramentoDenverHonoluluBoiseHele...,78588572,1751054,RepublicanRepublicanDemocraticDemocraticDemocr...,881.62

### An illustrative example: Pets üê± üê∂üêπ

Consider the DataFrame `pets`, shown below.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Species</th>
      <th>Color</th>
      <th>Weight</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>dog</td>
      <td>black</td>
      <td>40</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>cat</td>
      <td>golden</td>
      <td>15</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>cat</td>
      <td>black</td>
      <td>20</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>dog</td>
      <td>white</td>
      <td>80</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>dog</td>
      <td>golden</td>
      <td>25</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>hamster</td>
      <td>golden</td>
      <td>1</td>
      <td>3.0</td>
    </tr>
  </tbody>
</table>

Let's see what happens under the hood when we run `pets.groupby('Species').mean()`.

In [5]:
show_grouping_animation()